.qr-container {
    position: relative;
    display: inline-block;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    /* Ajusta la opacidad según tus preferencias */
}