.card {
  background-color: #d0d7df;
  border-color: #d0d7df
}

.ant-card-meta-detail {
  color: #d39c2c;
}

.ant-divider {
  border: none !important;
}

.ant-layout-footer {
  background:  #28355b
}

.ant-layout-header {
  background: #d39c2c
}

.ant-menu {
  background-color: #CF9F29;
  color:#fff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background: transparent;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  color: #fff
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
  color:#fff
}

.ant-menu-horizontal, .ant-menu-item::after, .ant-menu-submenu::after {
  border: none !important;
}

.ant-collapse-ghost > .ant-collapse-item {
  border-bottom: 1px solid #000;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: #304878;
  font-size: 26px;
}

.ant-collapse {
  font-size: 18px;
}

a.ant-typography {
  color: #d3d3d3
}

a.ant-typography:hover {
  color: #fff
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.logo img {
  position: absolute;
}

.site-layout-background {
  background-image: url('../delivery-man.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  border-radius: 7px;
  z-index: 1;
  min-height: 800px;
}

@media screen and (max-width:575px){
  .ant-menu {
    background: #000000;
    color: #000000;
  }

  .anticon-ellipsis {
    color: #000000;
    background-color: #d39c2c;
    border-radius: 4px;
    padding: 3px;
  }

  .site-layout-background {
    min-height: 500px;
    background-image: url('../del2.jpg');
    background-size: cover;
    background-position: center;
  }

  .image-perfil {
    min-height: 500px;
    background-image: url('../perfil.png');
    background-size: cover;
    background-position: center;
  }
}